{% extends "header.html" %}
{% block content %}

<h1>Information</hi>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        About the Website
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Connections</strong> is a website that shows connections between authors of research publications and patents. Through a graph display, users can see and discover novel connections between the worlds of academia and patents.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        About the Authors
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The authors of this project are James Allen, Yair Kosowsky-Sachs, Eric Novey, Samantha Taskale, <a href="https://github.com/tarsa129">Theresa Sheehan,</a> and Akash Talwar.
        They formed Team 1 of Dr. James Purtilo's Spring 2023 CMSC435 class at the University of Maryland - College Park.
        <br>
        
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How to Use
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        There are two ways to search for an author: by name or using an ID from one of the datasources that we pull from.
        Then, you will be asked to specifically identify the person that you meant by clicking on various people.
        With the intended person fully identified, a graph will be shown to a user that shows their first-order connections.
        The graph page has controls both on the left to the graph and on the graph itself. 
        The controls on the left allow a user to filter the graph based on time, search for another author, and hide publications/patents.
        The controls on the graph itself involve double clicking a node to gets its first-order connections or to collapse an expanded node. 
        
      </div>
    </div>
  </div>
</div>

{% endblock %}
